<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hr</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container list">
        <form class="filters" action="/" method="GET">
          <input type="text" name="searchQ" placeholder="Поиск по ФИО..." 
             value="<%= searchQ %>">
          <select name="otdel">
            <option value="">все</option>
            <% otdels.forEach(o=> { %>
              <option value="<%= o.name %>"
                <%= thisOtdel == o.name ? 'selected' : '' %>>
                <%= o.name %>
              </option>
            <% }) %>
          </select>
          <select name="position">
              <option value="">все</option>
              <% positions.forEach(p => { %>
                <option value="<%= p.name %>"
                  <%= thisPos == p.name ? 'selected' : ''%>>
                  <%= p.name %>
                </option>
              <% }) %>
          </select>
          <button type="submit">Применить</button>
          <a href="/">Сброс</a>
        </form>
        <div class="not-found <%= sotrudniki.length ? 'hidden' : '' %>">
            <img src="/sad-pou.gif" alt="not-found-gif">
            <p><%= status %>. Сотрудников не найдено</p>
        </div>
        
        <table class="sotr-table <%= sotrudniki.length ? '' : 'hidden' %>">
            <thead>
          <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Паспорт</th>
            <th>Телефон</th>
            <th>Адрес</th>
            <th>Отдел</th>
            <th>Должность</th>
            <th>Зарплата</th>
            <th>Дата приема</th>
          </tr>
        </thead>
        <tbody>
          <% sotrudniki.forEach(sotrudnik => { %>
            <tr>
              <td><%= sotrudnik.last_name %> <%= sotrudnik.first_name %> <%= sotrudnik.middle_name %></td>
              <td><%= new Date(sotrudnik.birth).toLocaleDateString('ru-RU') %></td>
              <td><%= sotrudnik.passport %></td>
              <td><%= sotrudnik.phone %></td>
              <td><%= sotrudnik.address %></td>
              <td><%= sotrudnik.o_name %></td>
              <td><%= sotrudnik.p_name %></td>
              <td><%= sotrudnik.salary.toLocaleString('ru-RU') %> ₽</td>
              <td><%= new Date(sotrudnik.date_priema).toLocaleDateString('ru-RU') %></td>
            </tr>
          <% }) %>
        </tbody>
        </table>
        <a href="/createSotrudnik" class="button">Добавить сотрудника</a>
    </div>

    
</body>
</html>